
body {
	background: none repeat scroll 0% 0% #F6F6F6;
	background: #fff;
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
}
#wrapper {
	padding: 0px;
	width: 1140px;
	margin: 0px auto;
}

.headerMain {
	background: none repeat scroll 0% 0% #FFF;
	width: 100%;
}

.brand {
	float: left;
	width: 240px;
	height: 148px;
}

.brand img {
	width: 100%;
	height: 100%;
}

.accessTop {
	float: right;
	width: 900px;
	height: 81px;
	border-bottom: 2px solid #E5E5E5;
}

.menuTop {
	float: right;
	width: 900px;
	height: 67px;
	background: none repeat scroll 0% 0% #FFF;
	border-bottom: 2px solid #E5E5E5;
	border-right: 2px solid #E5E5E5;
}

.menuTop ul {
	margin: 0px;
	padding: 0px;
	list-style: none outside none;
}

.menuTop ul li {
	line-height: initial;
	float: left;
	border-right: 2px solid #EAECED;
	position: relative;
	display: block;
}

.menuTop ul li a {
	color: #555;
	font: bold 13px "arial", sans-serif;
	padding: 25px 26px 21px 31px;
	text-decoration: none;
	display: block;
	outline: none;
}

.menuTop ul li a:hover, .menuTop ul li.active a {
	color: #F47920;
	text-decoration: underline !important;
}

.menuTop ul li a span {
	display: inline-table;
	padding-bottom: 3px;
}

div#content {
	width: 100%;
	height: auto;
	display: table;
	float: left;
	color: #7C7C7C;
}

div.title {
	float: left;
	width: 100%;
	padding: 20px 0px 20px 10px;
	font-size: 20px;
	color: #7C7C7C;
	letter-spacing: 3px;
}

form {
	
}

form input, .bootstrap-select button {
	width: auto !important;
	display: inline !important;
}

form label.value-label {
	color: #F36825;
}

.bootstrap-select {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset !important;
	width: auto !important;
}

.bootstrap-select button:HOVER, .bootstrap-select button:FOCUS {
	background-color: white !important;
}

a {
	outline: none !important;
	outline-offset:0 !important;
}

span.line {
	border: 1px solid #E5E5E5;
	float: left;
	width: 100%;
	margin: -15px 0px 30px 0px;
}

div.controls {
	text-align: center;
	margin-top: 50px;
}

table#ranking {
	margin-top: 20px;
}

div#periodo {
	text-align: center;
	margin-top: 30px;
	color: #F36825;
}

div#periodo label {
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

div#periodo i {
	cursor: pointer;
}

.table > thead > tr > th {
	text-align: center;
}

.table > tbody > tr.ACEITO {
	background-color: #D9EDF7;
}

.table > tbody > tr.NAO_ACEITO, table > tbody > tr.DESCLASSIFICADO {
	background-color: #F2DEDE;
}

.table > tbody > tr.ENCERRADO {
	background-color: #F5F5F5;
}

.table > tbody > tr.CLASSIFICADO {
	background-color: #DFF0D8;
}

.table > tbody > tr > td.pontuacao {
	font-weight: bold;
}

.align-center {
	text-align: center;
}

div#legenda label {
	font-weight: 100;
}

div#legenda label span {
	font-weight: bold;
}

div#legenda label span.aceito {
	background-color: #D9EDF7;
}

div#legenda label span.desclassificado {
	background-color: #F2DEDE;
}

div#legenda label span.encerrado {
	background-color: #F5F5F5;
}

div#legenda label span.classificado {
	background-color: #DFF0D8;
}


input{
	display: inline !important;
	border: 2px red;
}

.margin-top {
	margin-top: 70px  !important;
}

.margin-top-10 {
	margin-top: 10px  !important;
}

.alert {
	text-align: center;
	margin-top: 20px;
}

li ul .dropdown-menu {
	background: #458568
}
.dropdown ul .dropdown-menu {
	background: #458568
}
.afas-menu li {
	line-height: auto;
	border: 0;
}
.afas-menu li {
	width: 180px;
}

#professores > thead > tr > th {
	text-align: left;
}

.afas-input-group-addon {
	padding: 0;
	border: 0;
	border-radius: 0; 
}

.afas-form-group label{
	margin: 0 0 0 150px;
}

table#reservas {
	margin-top: 30px;
	text-align: center;
}

/* Periodo */

.panel {
	border: 0;
}
.panel-default>.panel-heading {
	background: none;
	border: 0;
	font-size: 20px;
}
.panel-default>.panel-heading label{
	color: #F36825;
}
.panel-default .panel-body {
	width: 600px;
	margin: 0 auto;
}

.periodo .input-periodo {
	display: inline;
	width: 300px;
	float: left;
}
.periodo .input-periodo label {
	display: inline;
	width: 100px;
	margin: 2px;
}
.periodo .input-periodo input {
	display: inline;
	width: 200px;
}
#btn-update {
	text-align: center;
	margin-top: 10px;
	background: #F36825;
	color: #fff;
	font-weight: bold;
	border: 0;
	display: block;
}

