
body {
	background-color: #F5F5F5;
	
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
}
#wrapper {
	padding: 0px;
	width: 1140px;
	margin: 0px auto;
}

.headerMain {
	background: none repeat scroll 0% 0% #FFF;
	width: 100%;
}

.brand {
	float: left;
}

.brand img {
	width: 100%;
	height: 100%;
}

.menuTop {
	float: right;
	width: 900px;
	height: 67px;
	margin-top: 83px;
}

.menuTop ul {
	padding: 0px;
	margin-left: 10px;
}

.menuTop ul li {
	line-height: initial;
	float: left;
	position: relative;
	display: block;
	cursor: pointer;
	margin-right: 8px;
}

.menuTop ul li a {
	color: #555;
	font: bold 13px "arial", sans-serif;
	padding: 15px 15px 5px;
	text-decoration: underline !important;
	display: block;
	border-bottom: 2px dashed;
	margin: 3px;
}

.menuTop ul li a:hover, .menuTop ul li.active a {
	color: #CF5719;
	text-decoration: underline !important;
}

li#sair {
	border: none;
}

.menuTop ul li a span {
	display: inline-table;
	padding-bottom: 3px;
}

div#content {
	width: 100%;
	height: auto;
	display: table;
	float: left;
	color: #545454;
	margin-bottom: 50px;
	margin: 30px;
}

div.title {
	float: left;
	width: 100%;
	padding: 20px 0px 20px 10px;
	font-size: 20px;
	color: #545454;
	letter-spacing: 3px;
}

form input, .bootstrap-select button {
	width: auto !important;
	display: inline !important;
}

.value-label {
	color: #CF5719;
}

.bootstrap-select {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset !important;
	width: auto !important;
}

.bootstrap-select button:HOVER, .bootstrap-select button:FOCUS {
	background-color: white !important;
}

a, a:hover, a:VISITED, a:ACTIVE {
	outline: none !important;
	outline-offset:0 !important;
	text-decoration: none !important;
}

span.line {
	border: 1px solid #E5E5E5;
	float: left;
	width: 100%;
	margin: -15px 0px 30px 0px;
}

div.controls {
	text-align: center;
	margin-top: 10px;
}

table#ranking {
	margin-top: 20px;
}

div.titulo-ranking {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid;
}

div.titulo-ranking a {
	text-decoration: underline !important;
}

#wrap-periodo {
	background-color: #E7E7E7;
	padding-bottom: 10px;
	padding-top: 10px;
}

#wrap-periodo label {
	font-weight: 500;
	letter-spacing: 1px;;
}

#collapseRanking > label {
	margin-top: 15px;
}

div#periodo {
	text-align: center;
	color: #CF5719;
}

div#dados-periodo {
	font-size: 15px;
}

div#periodo label {
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

div#periodo i {
	cursor: pointer;
}

.table > thead > tr > th {
	text-align: center;
}

table {
	float: left;
}

#afastados > tbody > tr {
	background-color: #BBD4E1;
}

.table > tbody > tr.AFASTADO {
	background-color: #BBD4E1;
}

table > tbody > tr.DESCLASSIFICADO {
	background-color: #F2BF7C;
}

.table > tbody > tr.ENCERRADO {
	background-color: #C5C5C5;
}

.table > tbody > tr.CLASSIFICADO {
	background-color: #95CF9E;
}

.table > tbody > tr.NAO_ACEITO {
	background-color: #F0D1D1;
}

.table > tbody > tr.CANCELADO, .table > tbody > tr.CANCELADO_COM_PUNICAO {
	background-color: #FFBEA9;
}
.table > tbody > tr.NEGADO {
	background-color: #FFBEA9;
}

.table > tbody > tr > td.pontuacao {
	font-weight: bold;
}

.align-center {
	text-align: center;
}


div#legenda label {
	font-weight: 100;
}

div#legenda label span {
	font-weight: bold;
}

div#legenda label span.afastado {
	background-color: #BBD4E1;
}

label span.desclassificado {
	background-color: #F2BF7C;
}

div#legenda label span.encerrado {
	background-color: #C5C5C5;
}

label span.classificado {
	background-color: #95CF9E;
}

div#legenda label span.cancelado {
	background-color: #FFBEA9;
}

div#legenda label span.negado {
	background-color: #FFBEA9;
}

div#legenda label span.nao_aceito {
	background-color: #F0D1D1;
}

input {
	display: inline !important;
	border: 2px red;
}

.margin-top {
	margin-top: 70px  !important;
}

.margin-top-10 {
	margin-top: 10px  !important;
}

.alert {
	text-align: center;
	margin-top: 20px;
}

li ul .dropdown-menu {
	background: #458568
}
.dropdown ul .dropdown-menu {
	background: #458568
}
.afas-menu li {
	line-height: auto;
	border: 0;
}
.afas-menu li {
	width: 180px;
}

#professores > thead > tr > th {
	text-align: left;
}

.afas-input-group-addon {
	padding: 0;
	border: 0;
	border-radius: 0; 
}

.afas-form-group label{
	margin: 0 0 0 150px;
}

table#reservas {
	margin-top: 30px;
	text-align: center;
}

/* Periodo */

.panel {
	border: 0;
}
.panel-default>.panel-heading {
	background: none;
	border: 0;
	font-size: 20px;
}
.panel-default>.panel-heading label{
	color: #CF5719;
}
.panel-default .panel-body {
	width: 600px;
	margin: 0 auto;
}

.periodo .input-periodo {
	display: inline;
	width: 300px;
	float: left;
}
.periodo .input-periodo label {
	display: inline;
	width: 100px;
	margin: 2px;
}

.periodo .input-periodo input {
	display: inline;
	width: 200px;
}

div.options{
	width: 105px;
	align: right;
}

.error-code {
	text-align: center;
	width: 100%;
	padding: 20px 0px 20px 10px;
	margin-top: 30px;
	font-size: 20px;
	color: #7C7C7C;
	letter-spacing: 3px;
}

img.error {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* table#ranking {
  -moz-animation-duration: 300ms;
  -moz-animation-delay: 100ms;
} */
.clear{
	clear: both;
}

#login {
    padding-top: 50px
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}

#login h1 {
    color: #CF5719;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#login .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

#login img {
	display: block;
	margin: 0 auto;
	max-width: 40%;
}

#login label.erro {
	display: block;
	font-weight: normal;
	color: red;
	text-align: center;
}

#listaPeriodos {
	margin-top: 20px;
}
#listaPeriodos .panel-heading {
	background: #E8E8E5;
}

#listaPeriodos #accordion {
	border-left: 2px solid #E8E8E5;
	border-right: 2px solid #E8E8E5;
}

span#captcha-erro {
	text-align: center;
	color: #a94442;
	margin-top: 10px;
	float: right;
	margin-right: -17px;
}

footer {
	text-align: center;
	margin-bottom: 40px;
	clear: both;
}

footer > img {
	max-width: 100px;
	margin-bottom: 10px;
}

footer > p {
	margin-bottom: 0;
	color: #7C7C7C;
}

#atualizarLista{
	width: 130px;
}

.btn-siaf {
	color: #FFF;
	background-color: #CF5719;
	border-color: #CF5719;
}

.btn-siaf:HOVER {
	color: #FFF;
	background-color: #CF5719;
	border-color: #CF5719;
}

button, input.btn-siaf {
	outline: none !important;
	outline-offset:0 !important;
}

.btn-siaf:focus {
    color: #FFF !important;
}

.loading-siaf {
	margin: 2px auto;
	width: 100px;
	height: 97px;
	vertical-align: middle;
	border-radius: 50%;
	background: url("../images/siaf-loading.png") -10px -8px no-repeat;

    -webkit-animation: loading .8s steps(9) infinite;
       -moz-animation: loading .8s steps(9) infinite;
        -ms-animation: loading .8s steps(9) infinite;
         -o-animation: loading .8s steps(9) infinite;
}

.load-s {
	margin: 2px auto;
	position: relative;
	top: -76px;
	width: 40px;
	height: 52px;
	vertical-align: middle;
	background: url("../images/siaf-loading.png") -162px -32px no-repeat;
}

#load-siaf {
	margin-top: 50px;
	text-align: center;
}

#load-siaf > div.title {
	float: none;	
}

.editable-empty {
	color: #545454 !important;
	font-style: normal !important;
}

span.obrigatorio {
	color: #A94442;
}

@-webkit-keyframes loading {
   from { transform:	rotate(0deg); 	}
     to { transform:	rotate(360deg); }
}

@-moz-keyframes loading {
   from { transform:	rotate(0deg); 	}
     to { transform:	rotate(360deg); }
}

@-ms-keyframes loading {
   from { transform:	rotate(0deg); 	}
     to { transform:	rotate(360deg); }
}

@-o-keyframes loading {
   from { transform:	rotate(0deg); 	}
     to { transform:	rotate(360deg); }
}

@keyframes loading {
   from { transform:	rotate(0deg); 	}
     to { transform:	rotate(360deg); }
}
