aplicacoes/afastamento/.metadata
aplicacoes/afastamento/.settings
aplicacoes/afastamento/.classpath
aplicacoes/afastamento/.project
aplicacoes/afastamento/target
*.class
*.jar
*.war
*.ear
*.log
*.project
