<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security" 
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd"> 
  
	<beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
	    <beans:property name="rolePrefix" value=""/>
	</beans:bean>
	
	<beans:bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter"/>   

	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
	    <beans:constructor-arg >
	        <beans:list>
	            <beans:ref bean="roleVoter"/>
	            <beans:ref bean="authenticatedVoter"/>
	        </beans:list>
	    </beans:constructor-arg>
	</beans:bean>
	
	<http access-decision-manager-ref="accessDecisionManager" auto-config="true">
		<access-denied-handler error-page="/403" />
 		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 
 		<intercept-url pattern="/webjars/**" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 		
 		<intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 		
 		<intercept-url pattern="/reserva/ranking/**" access="DOCENTE,ADMIN_SIAF" />
 		<intercept-url pattern="/reserva/ranking.json/**" access="DOCENTE,ADMIN_SIAF" />
 		<intercept-url pattern="/reserva/**" access="DOCENTE" />
		<intercept-url pattern="/administracao/**" access="ADMIN-SIAF" />
 		
 		<form-login login-page="/login" authentication-success-handler-ref="myAuthenticationSuccessHandler" 
 			authentication-failure-url="/loginfailed" />
 		<logout logout-success-url="/login" invalidate-session="true" logout-url="/logout"/> 	
 	</http>
 	
 	<beans:bean id="myAuthenticationSuccessHandler" class="ufc.quixada.npi.afastamento.service.SimpleUrlAuthenticationSuccessHandler" />
 	
 	<beans:bean id="ldapAuthenticationProvider" class="br.ufc.quixada.npi.ldap.service.LdapAuthenticationProvider"></beans:bean>
 
		<authentication-manager alias="authenticationManager">
		    <authentication-provider ref="ldapAuthenticationProvider"></authentication-provider>
		</authentication-manager>

  <global-method-security  secured-annotations = "enabled"  />
</beans:beans>